{{!-- <li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}devour!{{else}}Yum!{{/if}}
	</button>

	<button class="devour-burger" data-id="{{this.id}}">Is Buger-block showing up !</button>
</li> --}}
